<launch>
<!-- Human -->
  <arg name="x_pos" default="-70.5"/>
  <arg name="y_pos" default="9.5"/>
  <arg name="z_pos" default="1.0"/>

  <!-- Robot Params -->
  <param name="human_description" command="$(find xacro)/xacro --inorder $(find automatic_cart)/models/human_sim/human.urdf.xacro" />
  
  <rosparam file="$(find automatic_cart)/config/control_params_human.yaml" command="load"/>
  <rosparam command="load"
            file="$(find automatic_cart)/config/joints_human.yaml"
            ns="human_joint_state_controller" />
  <rosparam command="load"
            file="$(find automatic_cart)/config/diffdrive_human.yaml"
            ns="human_diff_drive_controller" />
  <node name="human_controller_spawner" pkg="controller_manager" type="spawner"
    args="human_joint_state_controller
          human_diff_drive_controller
          --shutdown-timeout 3"/>
  
  <!-- Human Spawn -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_human"  args="-urdf -model human -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param human_description" />

</launch>
